@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-primaria: #7d2;
    --cor-secundaria: #fff;
    --cor-terciaria: #0d0f0f;
    --cor-background: #000;
  }

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    background-color: #fffdff;
}