/* Estilização do Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--cor-background);
}

header .logo {
    font-size: 2rem;
    color: var(--cor-secundaria);
    cursor: default;
}

header .navigation {
    margin-left: -200px;
}

header .navigation a {
    font-size: 1.4rem;
    color: var(--cor-secundaria);
    margin-right: 40px;
    font-weight: 500;
}

header .navigation a:hover {
    color: var(--cor-primaria);
    transition: 0.3s;
}

span {
    color: var(--cor-primaria);
}

.button {
    color: var(--cor-terciaria);
    padding: 8px 35px;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    color: var(--cor-primaria);
    background-color: transparent;
}

/* Estilização da section home */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/first-img.png');
    background-color: var(--cor-background);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.home .content {
    max-width: 500px;
    color: var(--cor-secundaria);
}

.home .content p {
    font-size: 1.4rem;
    padding: 10px 0 40px 0;
}

.home .content h2 {
    font-size: 3rem;
}

.home .content h2 span {
    color: var(--cor-primaria);
}

.home .content h4 {
    font-size: 2rem;
}

.home .content .button-group .button:nth-child(2) {
    color: var(--cor-primaria);
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.home .content .button-group .button:hover:nth-child(2) {
    color: var(--cor-terciaria);
    background: var(--cor-primaria);
}

.home .content .social-icons {
    position: absolute;
    bottom: 50px;
}

.social-icons {
    display: flex;
    font-size: 2.6rem;
    gap: 20px;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: var(--cor-primaria);
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--cor-terciaria);
    outline: 2px solid var(--cor-primaria);
    transition: 0.3s;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a i {
    color: var(--cor-terciaria);
}

/* Estilização da section about */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh + 100px);
    background: var(--cor-background);
    padding-bottom: 60px;
    color: var(--cor-secundaria);
}

.heading {
    font-size: 5rem;
    padding: 30px 0;
    text-align: center;
}

.about-img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border-left: 2px solid var(--cor-primaria);
    border-right: 2px solid var(--cor-primaria);
    border-top: 2px solid var(--cor-background);
    border-bottom: 2px solid var(--cor-background);
}

.about-img .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 2px solid var(--cor-background);
    border-right: 2px solid var(--cor-background);
    border-top: 2px solid var(--cor-primaria);
    border-bottom: 2px solid var(--cor-primaria);
}

.about-content {
    text-align: justify;
}

.about-content h3 {
    text-align: center;
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 20px 0 30px 0;
    max-width: 1100px;
}

/* Estilização da section Skills */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh + 100px);
    background: var(--cor-background);
    padding-bottom: 60px;
    color: var(--cor-secundaria);
}

.skills p {
    max-width: 1100px;
    font-size: 1.6rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.skills-row .skills-conlunm {
    flex: 1 1 400px;
}

.skills-collumn .title {
    font-size: 2rem;
    margin: 0 0 10px;
    text-align: center;
}

.skills-box .skills-content {
    min-width: 500px;
    position: relative;
    border: 2px solid var(--cor-primaria);
    border-radius: 6px;
    padding: 5px 15px;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--cor-terciaria);
    z-index: -1;
    transition: 0.5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.bxl-javascript {
    color: #f7df1e;
    font-size: 25px;
}

.bxl-react {
    color: #61dafb;
    font-size: 25px;
}

.bx-code-curly {
    color: #99425b;
    font-size: 25px;
}

.bxl-bootstrap {
    color: #563d7c;
    font-size: 25px;
}

.bxl-html5 {
    color: #e34f26;
    font-size: 25px;
}

.bxl-css3 {
    color: #264de4;
    font-size: 25px;
}

.bxl-git {
    color: #f05032;
    font-size: 25px;
}

.progress h3 .bxl-github {
    color: #fff;
    font-size: 25px;
}

.skills-content .progress {
    padding: 10px 0;

}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--cor-primaria);
}

.skills-content .progress .bar {
    height: 25px;
    border-radius: 6px;
    border: 2px solid var(--cor-primaria);
    padding: 5px;
}

.skills-content .progress .bar  span {
    display: block;
    height: 100%;
    border-radius: 3px;
    background: var(--cor-primaria);
}

.skills-collumn:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-collumn:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 20%;
}

.skills-collumn:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 40%;
}

.skills-collumn:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 70%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh + 100px);
    padding-bottom: 60px;
    background: var(--cor-background);
    color: var(--cor-secundaria);
}

.contact form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 8px 0;
    z-index: 1;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 1.6rem;
    color: var(--cor-secundaria);
    background: transparent;
    border-radius: 6px;
    border: 2px solid var(--cor-primaria);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--cor-secundaria);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--cor-terciaria);
    border-radius: 6px;
    transition: 0.5s;
    z-index: -1;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 8px 0 27px 0;
    display: flex;
    z-index: 1;
}

.contact form .textarea-field textarea {
    resize: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-background);
    color: var(--cor-secundaria);
    font-size: 1.2rem;
}

.footer .footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px 40px;
}